# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
.env.*

# Node
node_modules/
dist/

# Data and models (do not commit big datasets or large model binaries)
data/data/
data/models/
data/dataset/
*.h5
*.pkl
*.csv

# VSCode / OS
.vscode/
.DS_Store
Thumbs.db
